MxSmtpRelay.attempt behavior when no MX records exist?

I cannot tell, does MxSmtpRelay.attempt implement the below sentence of section 5 of RFC 2821?

https://www.ietf.org/rfc/rfc2821.txt

"If no MX records are found, but an A RR is found, the A RR is treated as
if it was associated with an implicit MX RR, with a preference of 0,
pointing to that host."
